.code-bg {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none; /* não bloqueia cliques */
  z-index: 0;
}

.code-word {
  position: absolute;
  font-family: monospace;
  white-space: nowrap;
  opacity: 0;
  animation: floatUp linear forwards;
  user-select: none;
}

@keyframes floatUp {
  0%   { transform: translateY(-110vh);      opacity: 0;    }
  10%  { opacity: 0.5; }
  50%  {opacity: 0.7;}
  90%  { opacity: 0.2; }
  100% { transform: translateY(0vh); opacity: 0; }
}